.homepage-container {
  display: inline-flex;
  height: 90.5vh;
  overflow: hidden;
  margin: 0px;
  width: 100vw;
  position: relative;
  top: 9.5vh;
}

.left-panel {
  width: 35%;
  position: relative;
}

.main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right-panel {
  width: 65%;
  position: relative;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
  z-index: -1;
}

.text-overlay {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.5rem;
}
  
.tableOfContentsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  height: 100vh;
  overflow: hidden;
  padding-left: 3%;
  padding-right: 3%;
}

.backgroundImage {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
  z-index: -2;
}

.headerContainer {
  display: inline-block;
  flex-wrap: nowrap;
  background-color: black;
  padding: 1%;
  max-height: 6vh;
  min-height: 6vh;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  position: fixed;
  z-index: 99;
}

.headerHome {
  float: left;
  color: white;
}

.headerButtons {
  flex-wrap: nowrap;
  width: 100vw;
  text-align: right;
}