.experienceCcontainer {
    background-image: url('/public/pictures/winterPark.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    padding: 20px;
  }
  
  .pdfDocument {
    background-color: white;
    border: 1px solid lightgray;
    padding-top: 10%;
    padding: 10px;
    width: 80%;
    height: 90.5vh;
    max-width: 800px;
    margin-top: 70px;
  }
  