.backgroundContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.backgroundHeader {
    float: left;
    display: flex;
    padding: 2%;
}